@{
    ViewData["Title"] = "Keep Score";
}
<div class="player">
    <h2>Player 1</h2>
    <span>0</span><br>
    <button>Increase Score</button>
</div>

<div class="player">
    <h2>Player 2</h2>
    <span>0</span><br>
    <button>Increase Score</button>
</div>


