@{
    ViewData["Title"] = "Home Page";
}
<div id="elementToWatch" class="text-center header-padding">
    <h1><strong>Welcome to the Ping Pong Center!</strong></h1>
</div>
<div>
    <button id="btn">Test JS Code.</button>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>